body {
    background-image: url("starsbackground.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

h1 {
  color:ghostwhite;
  text-align: center;
}

h2 {
  color: whitesmoke;
  text-align:center;
  }
  h3 {
  color: whitesmoke;
  text-align:center;
  }

p {
    color:lightgrey;
    text-align: center;

}
.column {
  float: left;
  width: 30.33%;
  padding:50px;
  }
  .row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
  display: block;
  margin: auto;
  width: 40%;
}
li{
    text-align: center;
}
